# Lists

## List Basics

One of Python's most powerful built-in types is the **`list`**. In generic programming terminology, lists are considered [data structures][1], or more simply put, a collection of data. Lists are very versatile, capable of many tasks, are very popular, and something you will use frequently when writing Python. Even crude data exploration and matrix algebra can be done using lists. 

Lists are mutable sequences of objects. Anything can go inside lists, even other lists. Lists are declared by the brackets **`[ ]`** operator followed by comma separated values. Let's declare a list with some integer, string, and float objects.

[1]: https://en.wikipedia.org/wiki/Data_structure

In [ ]:
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]

my_list

### Lists may contain heterogeneous data
Each **element** of the list is an object and all elements in the list need not be of the same type. Absolutely any object can be placed inside of a list.

### Accessing list elements
Each element of a list is accessed with the index operator, **`[ ]`**, in the same manner as strings. Lists are indexed beginning at 0.

Let's access the element at index 2 from the **`my_list`** variable.

In [ ]:
my_list[2]

## Mutating Lists
Lists are objects that are mutable, meaning that their value may be changed after creation. Each element in the list can be changed and new elements can be added and other elements can be deleted. This is in contrast to strings where no character can be modified, added, or deleted.

Let's change the element at index 3 to **`changed`**.

In [ ]:
# Change the 4th element of the list to 'changed'
print(my_list)
my_list[3] = 'changed'
my_list

### Unexpected behavior with mutable objects

When assigning one mutable object to multiple different variables, a huge surprise awaits the novice programmer. Let's uncover this surprise by declaring a list and assigning it to variable **`list_1`** and then assigning that variable to **`list_2`**. We will then change the first element from **`list_1`** and print out both lists.

In [7]:
# create a list
list_1 = [1, 5, 10]

# assign list_1 to list_2
list_2 = list_1

# mutate one of the lists
list_1[0] = 1000

# print out the lists
print(list_1)
print(list_2) # Unexpected behavior. list_2 was also mutated!

[1000, 5, 10]
[1000, 5, 10]

### More detail on the same mutable objects assigned to a different variable
In the above code, when **`list_1`** is assigned to **`list_2`**, Python does not create a new object and does not crate a new block of memory to hold **`list_2`**. It simply makes a reference from **`list_2`** to the same list that was created when **`list_1`** was assigned. There was only a single list created above. Both **`list_1`** and **`list_2`** refer to the same object. Any modification to **`list_1`** or **`list_2`** change the underlying reference object.

### Confirm that the objects are the same with `id` function
The **`id`** function will show the unique id as an integer so that you can see if two variables are referring to the same object or not. If two variables have the same **`id`** then they refer to the same object.

In [24]:
id(list_1), id(list_2)

(1620111351552, 1620110788288)

### Exercise 1
<span style="color:green">Mutate `list_2` and print out both lists. Does mutating list_2 still change list_1? </span>

In [ ]:
# your code here

### Exercise 2
<span style="color:green">In the following code, both `list_1` and `list_2` are defined to have the same elements. Mutate `list_1`. Does `list_2` also get mutated?</span>

In [ ]:
list_1 = [1, 3, 5]
list_2 = [1, 3, 5]

# your code here

### Creating a unique list copy
If you are intending to create a unique new list that has the same elements of another list, you will need to use the copy method. The copy method creates a new object in memory with it's own unique address identity.

In [28]:
# create a copy of a list and confirm new identity
list_1 = [1, 5, 10]
list_2 = list_1

list_3 = list_1.copy()
id(list_1), id(list_2), id(list_3)

(1620110895040, 1620110895040, 1620110895872)

Let's mutate `list_3` and `list_1` to further confirm unique identities.

In [26]:

list_3[2] = 'foo'
list_1[2] = 'bar'
print(list_1)
print(list_2)
print(list_3)

[1, 5, 'bar']
[1, 5, 'bar']
[1, 5, 'foo']

### Technical note: Shallow vs Deep Copying
The copy method above does a shallow copy, meaning that any mutable object *within* the list will not be copied and still refer to the same object as before. For example, when a list contains another list, the inner list will not be copied. [See here for more info](https://docs.python.org/3/library/copy.html).

## Variables are references to objects
As a precautionary warning, the following concept may not be easily understood, and if you don't fully understand then don't fret as it won't impact your ability to write Python.

### What is a variable?
A variable in Python isn't quite what you might expect it to be. Variables in Python are references to objects. Take the following variable assignment:

```
>>> x = 5
```

The variable **`x`** has been assigned the value of 5. Another way of saying this is that the variable **`x`** refers to the integer object 5. Formally, the official Python documentation uses the term **name** or **identifier** to make this distinction clearer as in - The **name** **`x`** refers to the integer object 5.

So, the variable name itself is not technically the object, it is simply a label that references the object.

### Variables can be assigned any type of object
Because of this convention, variables can be assigned any object of any type. For instance, the following is valid Python code. **`x`** changes from an integer to a string to a list.

```
>>> x = 5
>>> x = 'five'
>>> x = [1, 3, 5]
```

### The `id` changes each time the variable is assigned a new object
Each time a variable is assigned a new object, the identity will change to that specific object's location. Let's take a look by printing out the `id` after each change.

In [29]:
x = 5
print(id(x))

x = 'five'
print(id(x))

x = [1, 3, 5]
print(id(x))

1619996535216
1620111410608
1620111190080

### Python is Dynamically typed
In the above example, the variable **`x`** referred to three different types of objects. Languages that allow variables to refer to more than one type are called **dynamically typed**. **Statically typed** languages on the other hand do not allow for variables to change types after declaration. C, Java, and Fortran are examples of statically typed languages. These languages require that you declare the variable type when first created. 


### Variables as sticky notes
In his excellent book [Fluent Python][1], Luciano Romalho suggests to think of variables in Python as **sticky notes**. Whenever a variable is assigned, you can think of the object as a permanent location in memory with a sticky note of the variable name placed on it. If the variable gets re-assigned, the sticky note gets moved to the new object address.

### Final thoughts on the mutated list example
Above, when we assigned **`list_1`** to **`list_2`**, Python created a new reference to the list object. Both the names **`list_1`** and **`list_2`** were referencing the same list.

[1]: https://www.amazon.com/Fluent-Python-Concise-Effective-Programming/dp/1491946008

-------------

## Finding List Methods
As we did with strings, it's important to be aware of all the possible attributes and methods available to our object. To get a comprehensive list of all the methods we can use the [official documentation][1], **`help`** or **`dir`** functions, or tab completion. I prefer tab completion as I like getting help while I am writing code.

The **`dir`** method is used below on a list to output of all the methods, both private (those beginning and ending with double underscores) and public.

[1]: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [30]:
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Experimenting with list methods
A series of examples will follow that show some list methods. Remember that methods use the dot notation and always end in parentheses. Let's begin by appending an item to our list.

In [ ]:
my_list.append(22)

### Why was there was no output?
When a method returns no output in Python, it does *not* mean that nothing happened. Something almost always *happens*, but you might not see it immediately. In this case, the list was **mutated in place**. 22 was appended to the list with the object **`None`** being returned. Output the list to verify that the append took place.

In [ ]:
# See that 22 was appended
my_list

### What does it mean to have `None` returned?
In Python, the **`None`** keyword is an object that represents nothing. All functions and methods are required to return an object. For instance, the **`append`** list method appends an item to the end of the list and returns nothing.

Let's verify that indeed **`None`** is returned by assigning the returned value to a variable and printing it out to the screen.

In [31]:
my_new_list = [1, 2, 3]
returned_value = my_new_list.append(5)
print(returned_value)

None

### Checking for `None`
To verify that a variable references the **`None`** object we need to use the **`is`** operator like so:

```
>>> variable is None
```

This will always return either True or False

In [32]:
returned_value is None

True

### Operations that happen 'in-place'
When the list above was appended to, it was referred to as happening **in-place**. When a method acts on an object **in-place**, **`None`** is usually returned. Most methods return some value but when methods return **`None`**, that is usually an indicator that the object was mutated in place. 

Take a look at the example below where the string method **`count`** returns the number of a particular letter in the string.

In [ ]:
test_string = 'i am a test string'
test_list = [1, 2, 3]
test_string.count('a')

Alternatively, the `append` list method returns **`None`**.

In [ ]:
test_list.append(4)

Verify that the operation did mutate our list.

In [ ]:
test_list

## More list methods
A few more list methods are used below. The `clear` method empties the list.

In [ ]:
my_list.clear()
my_list

The `index` method returns the position of the first occurrence of an item in the list.

In [ ]:
my_list = [1, 2, 3, 4, 'one', 'fifth', 'two', 4.9]
my_list.index('one')

The `insert` method inserts an item into a list. Pass it the location of where the insertion will take place, and the object you would like to place there. This method happens in-place.

In [ ]:
my_list.insert(5, 'fifth')
my_list

The `reverse` method reverses a list in-place.

In [ ]:
my_list.reverse()
my_list

### Getting the length of a list
The length of a list is retrieved in the exact same manner as the length of a string, with the **`len`** function. The **`len`** function will work with types of objects that contain many elements of data.

In [ ]:
len(my_list)

### Sorting a list
Lists can be sorted in-place using the `sort` method as long the element have types that are orderable.

Since `my_list` has both numeric and string types that do not have a natural ordering with respect to one another an error will be raised.

In [ ]:
my_list.sort()

### Lists must have objects that know how to be ordered
Strings and numbers don't have a natural ordering so an error is produced above. A list consisting of integers and floats is orderable and happens in-place.

In [ ]:
# sortable list
sortable_list = [8, 12, 90.8, -87, 0]
sortable_list.sort()

Verify that the list is now sorted.

In [ ]:
sortable_list

### Exercise 3
<span style="color:green">Does the `id` of a list change after it is ordered? Use an example to determine the outcome.</span>

In [49]:
# your code here
lista = [10, 2, 5, 3, 7]
print(lista)
print(id(lista))

lista.sort()
print(lista)
print(id(lista))

[10, 2, 5, 3, 7]
1620110714240
[2, 3, 5, 7, 10]
1620110714240

## Selecting items from lists
Selecting individual items from a list happens in the same exact manner as it does with strings. The index of the desired element is placed within the square brackets. Notice that after selection individual elements are no longer inside of a list but just the object themselves. We begin by selecting the first item in the list.

In [ ]:
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
my_list[0]

In [ ]:
# Select the last item
my_list[-1]

### Selecting a subset of the list with slice notation
Slice notation also works the same with lists as it does with strings. When slicing, even if it is a one element slice, a new list will be returned. Here we slice from the start up to but not including index 3.

In [ ]:
my_list[:3]

Slice from the index 3 through the end.

In [ ]:
my_list[3:]

### Start : Stop : Step
List slicing uses the exact same slicing form as strings. If the start index is not included, it is defaulted to the first element. If the stop index is not included, it is defaulted to stop at the last element. If the step size is not included it is defaulted to 1. 

If the stop index is included, the list is sliced up to but does not include the stop index element.

See the many slicing examples below:

In [ ]:
# lets first output my_list
my_list

Slice from index 1 to index 5 with step size of 2

In [ ]:
my_list[1:5:2]

Slice from index 2 up to but not including the second to last element

In [ ]:
my_list[2:-2]

Slice with the default start, stop and step. This looks bizarre but is legal.

In [52]:
my_list[::]

[1, 2, 3, 4, 'one', 'two', 4.9]

We can accomplish the same thin with just a single colon. Note, that this actually produces a unique copy of the list.

In [53]:
my_list[:]

[1, 2, 3, 4, 'one', 'two', 4.9]

Verify that a new copy is produced.

In [54]:
my_list_copy = my_list[:]
my_list_copy is my_list

False

### Negative Step Size
Occasionally, you might want to slice from a higher index down to a lower index. To do this, use a negative step size and put the higher index first. 

This example does not work correctly and returns an empty list.

In [ ]:
my_list[1:4:-1]

Correctly slice from high to low with negative step size.

In [ ]:
my_list[4:1:-1]

### Reversing a list
This is non-intuitive but pythonic way of reversing a list

In [ ]:
my_list[::-1]

### Negative Start and Stop indexes
All three list slice numbers can be negative. Negative numbers for start and stop are equal to the index beginning from the end of the list. So `my_list[-4]` represents the 4th element from the end.

Although negative numbers work, it's best to use positive numbers when possible as they are more readable and less error prone. The following slices from the 4th element from the end up to but not including the last element

In [55]:
my_list[-4:-1]

[4, 'one', 'two']

## The `range` Function
**`range`** is a function that can be used to create a sequence of numbers using the same start, stop, step style of list and string slicing we have already seen. Range is different in that it doesn't actually create the sequence of numbers in your computer's memory when its first called. It 'lazily' evaluates, meaning it only generates the next number in the sequence when demanded. Get [more information on the range function](http://stackoverflow.com/questions/13092267/if-range-is-a-generator-in-python-3-3-why-can-i-not-call-next-on-a-range).

This is very similar to what a generator does. Generators are a more advanced topic [that can be read about here](http://stackoverflow.com/questions/1756096/understanding-generators-in-python). 

### Examples with `range`
Ranges can be converted to lists with the **`list`** function, otherwise they remain as **`range`** objects. They take three parameters, `start`, `stop`, and `step`. The start defaults to 0 and the step defaults to 1 if not explicitly provided.

In [ ]:
list(range(5, 10))

In [ ]:
list(range(10))

In [ ]:
list(range(300, 1000, 50))

In [ ]:
list(range(800, 512, -88))

### Keep a range object
Calling `range` by itself is perfectly valid. Very little takes place when creating a `range` object by itself.

In [ ]:
a = range(3, 20, 4)
a

In [ ]:
type(a)

You can force the range into a list like this.

In [ ]:
list(a)

## Re-assigning elements in a list
Lists are mutable, which means that every element in the list can be changed. Let's re-assign the first element of the following list to 99.

In [75]:
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
my_list[0] = 99

### No output with assignment statement
The assignment statement above produces no output. It merely changes the first element to 99. Let's output the list to verify the change:

In [76]:
my_list

[99, 2, 3, 4, 'one', 'two', 4.9]

### Mutating Slices of lists
It's possible to reassign multiple elements of a list with a single element. To do so, you must assign the slice to another list with a single element in it.

The following creates a list of 20 integers and replaces the last half with a single element.

In [77]:
my_list = list(range(20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Replace the list from index 10 to the end with a single element.

In [78]:
my_list[10:] = ['new last element']
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'new last element']

### Exercise 4
<span style="color:green">Create a list of 10 elements starting from 0 using the range function. Slice the list from the 2nd element to the 6th element with a step size of 2 and attempt to assign a single element list to it. What happens?</span>

In [ ]:
# your code here

### Exercise 5
<span style="color:green">After the error above in exercise 4, try and assign a different list to that slice that does not raise an error. What is the rule for assigning new elements to slices of lists?</span>

In [ ]:
# your code here

### Exercise 6
<span style="color:green">Create a list using the `range` function from 100 to 500. Use the **`slice`** function to create a slice object that starts from the 20th element from the end and slices to the end (use keyword `None` for this) by 5. Slice your list with this object.</span>

In [ ]:
# your code here

### Deleting with the `del` statement
In Python it's possible to delete variables and completely remove them from the program.  Here we create a variable and then immediately delete it.

In [56]:
var = 'some variable'
del var

Attempting to access the variable yields an error.

In [57]:
var

NameError: name 'var' is not defined

### Deleting elements in a list
More useful than just deleting a variable is the ability to delete elements of a list, or different subsets of mutable objects.

It is possible to delete single elements and even slices of lists so this operation is quite versatile. Let's see some examples of the **`del`** statement with lists.

In [58]:
# create a list
my_list = list(range(20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Let's delete the element at the 8th index

In [59]:
del my_list[8]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

We can even delete several items by using slice notation. Here we delete from the 4th to the 12th element.

In [60]:
del my_list[4:12]
my_list

[0, 1, 2, 3, 13, 14, 15, 16, 17, 18, 19]

Any valid slice may be used to delete items. Below, we delete from the 3rd to the last element with a step size of 3,

In [ ]:
my_list = list(range(20))
del my_list[3::3]
my_list

## Creating a list out a string
The built-in **`list`** keyword can act like a function that forces objects of other types to become a list. One use of this is to convert a string to a list. Every character in the string is now an element in the list.

In [61]:
my_string = 'string about to be a list'
list(my_string)

['s',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'a',
 'b',
 'o',
 'u',
 't',
 ' ',
 't',
 'o',
 ' ',
 'b',
 'e',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't']

### Exercise 7
<span style="color:green">Create a list of characters using the list function on a string. Delete elements starting from index 2 up to index 6. Output the new list.
</span>

In [ ]:
# your code here

### Exercise 8
<span style="color:green">Create a list using the range function from 352 to 5218 by 7. Delete elements starting from the index that is 100th from the end up to the 8th element from the end by 6. Without printing out the entire list, what is the last number that was deleted from your original list? 
</span>

In [ ]:
# your code here

### Creating a string from a list
Just like we created a list from a string, it is possible to create a string from a list. First, you must have a list of strings that you would like to concatenate together to make one long string. Then, you need to create a string that will be used as a **separator** in between each element in the list. Finally, call the **`join`** method from this separator string, passing the list of strings as the argument.

In [80]:
list_of_strings = ['humpty', 'dumpty', 'sat', 'on', 'a', 'wall']
separator = ' '
separator.join(list_of_strings)

'humpty dumpty sat on a wall'

Replicate the above without first assigning the separating string to a variable.

In [81]:
' '.join(list_of_strings)

'humpty dumpty sat on a wall'

Any set of characters may be used as the separator.

In [82]:
' 001111000 '.join(list_of_strings)

'humpty 001111000 dumpty 001111000 sat 001111000 on 001111000 a 001111000 wall'

### Exercise 9
<span style="color:green">Use the character 'a' to separate and join the following list to reveal the magic word </span>

In [ ]:
magic_word = ['', 'b', 'r', 'c', 'd', 'b', 'r', '!']

# your code here

## List Concatenation
There are two ways to concatenate two lists together.
* Use the plus operator
* Use the **`extend`** method

The plus operator produces a new list object, while extend mutates the **calling list** in-place. The calling list is the one that is invoking the method, the one using dot notation.

### Concatenation of multiple lists with the plus operator
See the below examples of concatenation with the plus operator. Notice how the original lists are not mutated.

In [62]:
list_1 = [1,2,3]
list_2 = [4, 5, 6]
list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [63]:
list_1

[1, 2, 3]

In [64]:
list_2

[4, 5, 6]

You may add lists without first assigning each to a variable.

In [65]:
[4, 5, 6] + [1, 2, 3]

[4, 5, 6, 1, 2, 3]

Add any number of lists together.

In [66]:
[1, 4, 5] + [10] + ['a', 'b', 'c'] + [True, [1, 2, 3]]

[1, 4, 5, 10, 'a', 'b', 'c', True, [1, 2, 3]]

Assign the new list to a variable to reuse it later.

In [67]:
new_list = [1, 4, 5] + [10] + ['a', 'b', 'c'] + [True, [1, 2, 3]]
new_list

[1, 4, 5, 10, 'a', 'b', 'c', True, [1, 2, 3]]

### Use the `extend` method to mutate the calling list in place
The `extend` method concatenate lists together but mutates the calling list in-place. You must pass a list (or a list-like object) to the **`extend`** method.

In [68]:
list_1 = ['a', 'b', 'c']
list_2 = [99, 100]
list_1.extend(list_2)

Notice, that no object was returned from the last command. Let's output the list to see if `extend` worked properly.

In [69]:
list_1

['a', 'b', 'c', 99, 100]

The second list remains unmodified.

In [70]:
list_2

[99, 100]

You can pass a list to `extend` that was not first assigned a variable.

In [71]:
list_1 = [1, 2]
list_1.extend(['end'])

list_1

[1, 2, 'end']

### Attempting to extend with a single value
If you attempt to extend the list with a single integer, float, or other scalar value, you will get an error. You can only pass in objects that are **iterable**.

In [72]:
list_1 = [1, 2]

list_1.extend(10)
list_1

TypeError: 'int' object is not iterable

### What is an iterable?
This formal definition is beyond the scope of this chapter. Instead, we will provide a simplified definition. An iterable is any object where you can move through a sequence of items. Strings, tuples, lists, sets, and dictionaries are common iterable objects.

### Extending a list with a string
The last paragraph mentions strings as iterable. It is possible to iterate one by one through the sequence of characters. So what happens when you extend a list with a string?

In [73]:
# lets find out!
list_1 = [1, 2]
list_1.extend('abcdef')
list_1

[1, 2, 'a', 'b', 'c', 'd', 'e', 'f']

## List Equality
Two equal signs (**`==`**) can be used to test equality of lists. For two lists to be equal, each element must equal its corresponding element in the other list.

In [74]:
# checking equality
list_1 = list(range(5))
list_2 = [0, 1, 2, 3, 4]
list_1 == list_2

True

In [ ]:
# slicing and concatenating list and checking equality
list_1[:3] + list_1[3:] == list_1

### Exercise 10
<span style="color:green">Use the `+` operator to concatenate two lists. Make the first list the even elements of test_list and the second list the odd elements of test_list</span>

In [ ]:
test_list = list(range(20))
# your code here

### Exercise 11
<span style="color:green">Create a list then use the `extend` method to add four elements to it</span>

In [ ]:
# your code here

### Exercise 12
<span style="color:green">In words, without actually programming, what will <strong>my_list * 5</strong> do?</span>

Edit this markdown cell with your answer.

## Lists of Lists
List elements may be of any type, meaning that we can create lists of lists, which are similar to n-dimensional arrays in scientific computing.

In [ ]:
# create a list of lists
list_list = [[1, 2, 3], [5,6], [90, 100, 109]]

The first element of our list is simply another list.

In [ ]:
list_list[0]

### Select a single element from a list within a list
Use two consecutive square bracket selections when selecting an element from a list of a list. The first selection below selects the list **`[1, 2, 3]`** and the second selects the integer 3.

In [ ]:
# How to access nested lists
list_list[0][2]

In [ ]:
# Use different indices to get the same item
list_list[-1][-2]

In [ ]:
# get a  slice of a list of a list
list_list[2][1:]

In [ ]:
# mutate this list of list
list_list[2][1:] = [900, 909]
list_list

### Exercise 13
<span style="color:green">First create a list containing at least three inner lists. Then replace the second list with a reverse of the third list.</span>

In [ ]:
# your code here

## Check if an item is in a list
To determine if an element is contained within a list, the **`in`** or **`not in`** operator is used. This is done in the same way as checking for a substring in a string.

In [ ]:
# check list membership
my_list = [6, 'word', 2]
6 in my_list

In [ ]:
12 in my_list

In [ ]:
5 not in my_list

### Exercise 14
<span style="color:green">Create a list using the range function from 0 to 100,000 by 113 and determine if the value 87,649 is in the list or not.</span>

In [ ]:
# your code here