## List of comprehension:

In [ ]:
# Example:

l = [n**2 for n in range (12)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
# Equivalent code using a for loop:

l = []
for n in range(12):
    l.append(n**2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
# including a condition: (mod operator)
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(20) if i % 5 == 1]

[1, 6, 11, 16]

In [ ]:
# including condition: (floor division operator)
[i for i in range(20) if i // 5 == 1]

[5, 6, 7, 8, 9]

## Strings:

Check the available methods for string:

In [55]:
[m for m in dir(str) if m.startswith('__') == False]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

<span style="color:yellow">Find and use a method that will find the position of the first occurrence of the letter `t` in the following string. </span>

In [ ]:
s = 'a data scientist'
s.find('t')

4

Slicing over strings:

In [93]:
videos = ['video1.mp4', 'video2.mp4', 'movie1.avi', 'movie2.mov']
video_names = [ v[:-4] for v in videos]
video_names

['video1', 'video2', 'movie1', 'movie2']

## Generators

Create a generator using a for loop

In [7]:
def gen():
    for n in range(12):
        yield n **2
        
g = gen()

In [37]:
for i in range(3):
    print(next(g))

1
4
9

In [8]:
next(g)

0

The generators are consumed after used:

In [ ]:
g1 = (n**2 for n in range (12))
list(g1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [115]:
list(g1)

[]

Unpack a generator:

In [ ]:
g2 = (n**2 for n in range (12))

print(*g2)

0 1 4 9 16 25 36 49 64 81 100 121

## if, elif, else

In [124]:
x = 47

if x % 2 == 0:
    print(f'{x} is divisible by 2 and not a prime')
elif x % 3 == 0:
    print(f'{x} is divisible by 3 and not a prime')
elif x % 5 == 0:
    print(f'{x} is divisible by 5 and not a prime')
else:
    print(f'{x} is not divisible by 2,3, or 5. It might be prime!')

47 is not divisible by 2,3, or 5. It might be prime!

## while, for, break, continue:

In [120]:
for i in range(5):
    if i == 2:
        continue
    print(i, end=', ')

0, 1, 3, 4,

In [ ]:
primes = []
for i in range(20):
    if (i % 2 == 0) or (i % 3 == 0):
        continue
    primes.append(i)

primes

[1, 5, 7, 11, 13, 17, 19]

In [125]:
# Re-run this code.
import time

x = 5
while x >= 0:
    if x == 0:
        print("Launch!")
    else:
        print(f'{x} seconds to launch')
    x -= 1
    time.sleep(1)

5 seconds to launch
4 seconds to launch
3 seconds to launch
2 seconds to launch
1 seconds to launch
Launch!

Infinite loops and break statement:

In [126]:
import random

In [127]:
n = 0
while True:
    n += 1
    num = random.random()
    if num > .999:
        break

print(f'It took {n} iterations to produce number {num}')

It took 677 iterations to produce number 0.9994148446799851

## lists

In [135]:
my_list = list(range(10))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [146]:
[m for m in dir(list) if not m.startswith('__')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##### Start : Stop : Step

Slice from index 1 to index 5 with step size of 2

In [132]:
my_list[1:5:2]

[1, 3]

Slice from index 2 up to but not including the second to last element

In [142]:
my_list[2:-2]

[2, 3, 4, 5, 6, 7]

Steps by 2

In [ ]:
my_list[::2]

[0, 2, 4, 6, 8]

Negative step size

In [143]:
my_list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [155]:
my_list = list(range(20))
my_list[10:] = ['new last element']
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'new last element']

<span style="color:yellow">Create a list of 10 elements starting from 0 using the range function. Slice the list from the 2nd element to the 6th element with a step size of 2 and attempt to assign a single element list to it. What happens?</span>

In [36]:
my_list = list(range(10))
my_list[2:6:2] = ['na']
my_list # generates error because the slice is size of 2 and we tried to assign 1 element list

ValueError: attempt to assign sequence of size 1 to extended slice of size 2

In [ ]:
my_list = list(range(10))
my_list[2:6:1] = ['na']
my_list

[0, 1, 'na', 6, 7, 8, 9]

### List of lists:

In [161]:
list_list = [[1, 2, 3], [5,6], [90, 100, 109]]

In [162]:
# get the 5:
list_list[1][0]

5

In [163]:
# get a  slice of a list of a list
list_list[2][1:]

[100, 109]

<span style="color:yellow">First create a list containing at least three inner lists. Then replace the second list with a reverse of the third list.</span>

In [164]:
# your code here
list_of_lists = [[1,2,3], [4,5,6], [7,8,9]]
list_of_lists[1] = list_of_lists[2][::-1]
list_of_lists

[[1, 2, 3], [9, 8, 7], [7, 8, 9]]

## Tuples

In [19]:
pos = (10, 20)   # (x, y)

In [21]:
def min_max(nums):
    return min(nums), max(nums)

In [23]:
RGB_RED = (255, 0, 0)
RGB_GREEN = (0, 255, 0)
RGB_BLUE = (0, 0, 255)

In [173]:
a = (1, 2, 10)
[method for method in dir(a) if method[0] != '_']

['count', 'index']

In [ ]:
t1 = (1,2)
t2 = t1

t1 += (3,4)  # nuevo objeto

print(t1, t2)

(1, 2, 3, 4) (1, 2)

## Sets

In [179]:
[m for m in dir(set) if not m.startswith('__')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Cannot have duplicates when creating a set
Sets only contain unique elements, so if we try and create a set with repeated values, then only a single copy of the element will remain in the set.

In [177]:
{1, 1, 1, 1, 2, 2, 2}

{1, 2}

In [ ]:
set('some string')

{' ', 'e', 'g', 'i', 'm', 'n', 'o', 'r', 's', 't'}

#### Membership checking:

In [ ]:
n = 1000000
a_set = set(range(n))
a_list = list(range(n))
num = 900000

In [ ]:
%timeit num in a_set

60.7 ns ± 8.83 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
%timeit num in a_list

7.81 ms ± 544 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

<span style="color:yellow">Find all the numbers that are divisible by both 2 and 7. (Hint: Create a set of all the even numbers from 0 to 100. Then create another set of every number divisible by 7 from 0 to 100. Find the intersection of those sets.)</span>

In [ ]:
# your code here
a = set(range(0, 101, 2))
b = set(range(0, 101, 7))

a & b

{0, 14, 28, 42, 56, 70, 84, 98}

## Dictionaries

In [180]:
# dict methods
[m for m in dir(dict) if not m.startswith('__')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [181]:
# Defining dictionaries
letter_dict = {'a': 1, 'b': 2, 'z': 26}
num_to_word_dict = {1:'one', 2:'two', 234:'two-hundred thirty four'}
city_coord_dict = {(29, 95):'Houston', (29, 90):'New Orleans'}

In [189]:
# retreiving items
print(letter_dict['a'])
print(letter_dict['z'])
print(city_coord_dict[(29, 95)])
print(num_to_word_dict[234])

1
26
Houston
two-hundred thirty four

#### Methods for getting some elements from the dict:

In [186]:
letter_dict.get('a', 'not in here!')

1

In [187]:
letter_dict.get('c', 'not in here!')

'not in here!'

In [10]:
students = {'Sally': [87, 76, 65], 
            'Jane' : [45, 98, 77], 
            'Adeline' : [65, 22, 10]}
students

{'Sally': [87, 76, 65], 'Jane': [45, 98, 77], 'Adeline': [65, 22, 10]}

In [ ]:
# Test whether 'Tom' is a student
'Tom' in students

False

In [ ]:
# Get just the keys
students.keys()

dict_keys(['Sally', 'Jane', 'Adeline'])

In [ ]:
# get just the values
students.values()

dict_values([[87, 76, 65], [45, 98, 77], [65, 22, 10]])

In [ ]:
# get the key-value pairs
students.items()

dict_items([('Sally', [87, 76, 65]), ('Jane', [45, 98, 77]), ('Adeline', [65, 22, 10])])

<span style="color:yellow">Create a function that accepts two parameters, a dictionary, and a string. If that string is in the dictionary, increment the value by 1. If not, create a new record in the dictionary with the string as a key and 0 as its value. Test your function with provided code.</span>

In [ ]:
def add_to_dict(dictionary, key):
    if key in dictionary:
        dictionary[key] += 1
    else:
        dictionary[key] = 0

In [ ]:
# test code
test_dict = {'Houston': 1, 'New Orleans':2}

add_to_dict(test_dict, 'New York')

add_to_dict(test_dict, 'New Orleans')

test_dict

{'Houston': 1, 'New Orleans': 3, 'New York': 0}

<span style="color:yellow">Create a new dictionary through a dictionary comp that gets the average score for each student</span>

In [ ]:
students = {'Sally': [87, 76, 65], 'Jane' : [45, 98, 77], 'Adeline' : [65, 22, 10]}
# your code here
avg = {student : sum(scores) / len(scores) for student, scores in students.items()}
avg

{'Adeline': 32.333333333333336, 'Jane': 73.33333333333333, 'Sally': 76.0}

<span style="color:yellow">Create a dictionary through a dictionary comp that has the student name as the key and the minimum grade as value but for only students that have an 'e' in their name.</span>

In [12]:
# your code here
low_e = {student : min(scores) for student, scores in students.items() if 'e' in student}
low_e

{'Jane': 45, 'Adeline': 10}

In [11]:
low_e2 = {}
for student, scores in students.items():
    if 'e' in student:
        low_e2[student] = min(scores)
low_e2

{'Jane': 45, 'Adeline': 10}

<span style="color:yellow">Use a dictionary comp that loops through the numbers 0 to 10 and uses the integer as the key and a list with its squared and cubed value as its value.</span>

In [ ]:
# your code here
{n: [n ** 2, n ** 3] for n in range(11)}

{0: [0, 0],
 1: [1, 1],
 2: [4, 8],
 3: [9, 27],
 4: [16, 64],
 5: [25, 125],
 6: [36, 216],
 7: [49, 343],
 8: [64, 512],
 9: [81, 729],
 10: [100, 1000]}

<span style="color:yellow">Iterate through each student and drop their lowest test grade. Replace it with 100.</span>

In [195]:
students = {'Sally': [87, 76, 65], 
            'Jane' : [45, 98, 77], 
            'Adeline' : [65, 22, 10]}

In [196]:
# your code here
for stud, scores in students.items():
    scores[scores.index(min(scores))] = 100

In [197]:
students

{'Sally': [87, 76, 100], 'Jane': [100, 98, 77], 'Adeline': [65, 22, 100]}