## Feature Scaler - MinMaxScaler

### Import the relevant libraries to use

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Read the data into dataframe

In [2]:
from pathlib import Path
Path.cwd()

WindowsPath('c:/Proyectos/George Brown Projects/TA/ML 1 Concepts/Module 5 - Data Preprocessing')

In [3]:
# Read training features into X_train
X_train=pd.read_csv('./data/X_train.csv')
# Read training target into Y_train
Y_train=pd.read_csv('./data/Y_train.csv')

# Read testing features into X_test
X_test=pd.read_csv('./data/X_test.csv')
# Read testing target into Y_test
Y_test=pd.read_csv('./data/Y_test.csv')

# Display the top 5 rows
X_train.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001032,Male,No,0,Graduate,No,4950,0.0,125,360,1,Urban
1,LP001824,Male,Yes,1,Graduate,No,2882,1843.0,123,480,1,Semiurban
2,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56,180,1,Semiurban
3,LP001814,Male,Yes,2,Graduate,No,9703,0.0,112,360,1,Urban
4,LP002244,Male,Yes,0,Graduate,No,2333,2417.0,136,360,1,Urban
5,LP001854,Male,Yes,3+,Graduate,No,5250,0.0,94,360,1,Urban
6,LP002505,Male,Yes,0,Graduate,No,4333,2451.0,110,360,1,Urban
7,LP002862,Male,Yes,2,Not Graduate,No,6125,1625.0,187,480,1,Semiurban
8,LP001630,Male,No,0,Not Graduate,No,2333,1451.0,102,480,0,Urban
9,LP001964,Male,Yes,0,Not Graduate,No,1800,2934.0,93,360,0,Urban

In [4]:
X_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,384.000000,384.000000,384.000000,384.000000,384.000000
mean,5149.718750,1572.077917,141.471354,342.093750,0.856771
std,5304.921764,2624.223119,75.176271,65.846658,0.350763
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3893.500000,1188.500000,128.000000,360.000000,1.000000
75%,5819.500000,2259.250000,164.250000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000

Get numerical features:

In [5]:
num_features = X_train.select_dtypes( include = ['number']).columns
num_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

## StandardScaler from Preprocessing

In [ ]:
from sklearn import preprocessing
import numpy as np