# Pandas Data Analysis Exercise

Download [Chipotle Dataset](https://github.com/subashgandyer/datasets/blob/main/chipotle.tsv) to walkthrough this exercise

### Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

# set this so the 
%matplotlib inline

### Read the dataset into a dataframe

In [4]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Display the first few samples

In [56]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Find out how many number of samples in the dataset

In [158]:
chipo.shape

(4622, 5)

In [159]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [55]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [160]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

### Find out how many number of features in the dataset

In [161]:
chipo.shape

(4622, 5)

### What are the feature names in the dataset

In [162]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Which was the most-ordered item?

### Long way: Groupby item_name, Sum, Sort on quantity, Display in descending order

In [45]:
c = chipo.groupby('item_name')
n = 0
for name, group in c:
    if n == 2:
        break
    print(name)
    print(group.head(), "\n")
    n+=1

6 Pack Soft Drink
     order_id  quantity          item_name choice_description item_price
298       129         1  6 Pack Soft Drink           [Sprite]     $6.49
341       148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
357       154         1  6 Pack Soft Drink             [Coke]     $6.49
388       168         1  6 Pack Soft Drink        [Diet Coke]     $6.49
417       182         1  6 Pack Soft Drink        [Diet Coke]     $6.49

Barbacoa Bowl
     order_id  quantity      item_name  \
39         19         1  Barbacoa Bowl
58         27         1  Barbacoa Bowl
95         42         1  Barbacoa Bowl
115        51         1  Barbacoa Bowl
127        56         1  Barbacoa Bowl

                                    choice_description item_price
39   [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
58   [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
95   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
115  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...     $8.99
127  [Tomatillo Red Chili Salsa, [Rice, Pinto Beans...     $9.25

In [48]:
n = iter(c)

In [52]:
next(n)

('Barbacoa Crispy Tacos',
       order_id  quantity              item_name  \
 168         75         1  Barbacoa Crispy Tacos
 255        110         1  Barbacoa Crispy Tacos
 429        186         1  Barbacoa Crispy Tacos
 485        205         1  Barbacoa Crispy Tacos
 763        315         1  Barbacoa Crispy Tacos
 829        343         1  Barbacoa Crispy Tacos
 1019       419         1  Barbacoa Crispy Tacos
 1866       756         1  Barbacoa Crispy Tacos
 1903       768         2  Barbacoa Crispy Tacos
 2787      1106         1  Barbacoa Crispy Tacos
 3321      1330         1  Barbacoa Crispy Tacos

                                      choice_description item_price
 168   [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $11.75
 255   [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...     $9.25
 429   [[Roasted Chili Corn Salsa (Medium), Tomatillo...    $11.48
 485                     [Fresh Tomato Salsa, Guacamole]    $11.75
 763         [Fresh Tomato Salsa, [Sour Cream, Lettuce]]     $9.25
 829   [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.25
 1019  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99
 1866   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $9.25
 1903   [Fresh Tomato Salsa, [Sour Cream, Cheese, Rice]]    $18.50
 2787  [Roasted Chili Corn Salsa, [Rice, Cheese, Lett...    $11.75
 3321  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99   )

In [164]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

#### Concise Pythonic way solution

In [165]:
chipo.groupby('item_name').agg({'quantity': 'sum'}).sort_values(['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### For the most-ordered item, how many items were ordered?

In [71]:
chipo.groupby('item_name').agg({'quantity': 'sum'}).sort_values(['quantity'], ascending=False).head(1).quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### What was the most ordered item in the choice_description column?

In [88]:
chipo.groupby('choice_description').agg(total_ordered=('quantity', 'sum')).sort_values(['total_ordered'], ascending=False).head(1)

                    total_ordered
choice_description
[Diet Coke]                   159

### How many items were orderd in total?

In [89]:
chipo.quantity.sum()

4972

### Convert the item price into a float

### Long and slow way: Writing a function to convert item price to float and then apply it over dataframe

#### Check the item price type

In [93]:
chipo.item_price.dtype

dtype('O')

#### Create a function to convert the item price into float

In [103]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)

#### Reset the converstion back to string to try lambda function conversion

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv", sep="\t")
chipo

#### Create a lambda function and change the type of item price

In [ ]:
float_converter = lambda x: float(x[1:-1])
chipo.item_price_float_lam = chipo.item_price.apply(float_converter)

#### Check the item price type

In [104]:
chipo.item_price.dtype

dtype('float64')

### How much was the revenue for the period in the dataset?

In [107]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
revenue

39237.02

### How many orders were made in the period?

In [118]:
chipo.order_id.nunique()

1834

### Another way

In [167]:
orders = chipo.order_id.value_counts().count()
orders

1834

### What is the average revenue amount per order?

In [123]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### How many different items are sold?

In [35]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

### Sort by item name

In [169]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### What is the quantity of the most expensive order?

In [144]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

### How many times a Veggie Salad Bowl was ordered?

In [145]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### How many items more than one canned soda is ordered?

In [147]:
chipo[chipo.item_name == "Canned Soda"]

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
28          14         1  Canned Soda       [Dr. Pepper]        1.09     1.09
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
53          24         1  Canned Soda           [Sprite]        1.09     1.09
107         47         1  Canned Soda       [Dr. Pepper]        1.09     1.09
...        ...       ...          ...                ...         ...      ...
3897      1562         1  Canned Soda     [Mountain Dew]        1.09     1.09
3926      1575         1  Canned Soda       [Dr. Pepper]        1.09     1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]        1.09     1.09
4008      1604         1  Canned Soda        [Diet Coke]        1.09     1.09
4051      1621         1  Canned Soda           [Sprite]        1.09     1.09

[104 rows x 6 columns]

In [148]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
162         73         2  Canned Soda        [Diet Coke]        2.18     4.36
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18     4.36
350        150         2  Canned Soda        [Diet Coke]        2.18     4.36
352        151         2  Canned Soda        [Coca Cola]        2.18     4.36
698        287         2  Canned Soda        [Coca Cola]        2.18     4.36
700        288         2  Canned Soda        [Coca Cola]        2.18     4.36
909        376         2  Canned Soda     [Mountain Dew]        2.18     4.36
1091       450         2  Canned Soda       [Dr. Pepper]        2.18     4.36
1092       450         2  Canned Soda        [Coca Cola]        2.18     4.36
1944       787         2  Canned Soda       [Dr. Pepper]        2.18     4.36
2135       859         2  Canned Soda        [Diet Coke]        2.18     4.36
2235       901         4  Canned Soda           [Sprite]        4.36    17.44
2905      1156         2  Canned Soda        [Coca Cola]        2.18     4.36
2906      1156         2  Canned Soda           [Sprite]        2.18     4.36
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18     4.36
3364      1349         2  Canned Soda        [Coca Cola]        2.18     4.36
3592      1440         2  Canned Soda        [Diet Coke]        2.18     4.36
3866      1550         2  Canned Soda     [Mountain Dew]        2.18     4.36

In [146]:
more_than_one_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(more_than_one_soda)

20