# Pandas Data Analysis Exercise

Download [Chipotle Dataset](https://github.com/subashgandyer/datasets/blob/main/chipotle.tsv) to walkthrough this exercise

### Import the necessary libraries

In [18]:
import pandas as pd
import numpy as np

### Read the dataset into a dataframe

In [19]:
url = 'https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Display the first few samples

In [20]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Find out how many number of samples in the dataset

In [21]:
chipo.shape

(4622, 5)

In [22]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [23]:
chipo.describe().round()

       order_id  quantity
count    4622.0    4622.0
mean      927.0       1.0
std       529.0       0.0
min         1.0       1.0
25%       477.0       1.0
50%       926.0       1.0
75%      1393.0       1.0
max      1834.0      15.0

In [24]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

### Find out how many number of features in the dataset

In [25]:
chipo.shape

(4622, 5)

### What are the feature names in the dataset

In [26]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Which was the most-ordered item?

### Long way: Groupby item_name, Sum, Sort on quantity, Display in descending order

In [27]:
c = chipo.groupby('item_name')
n = 0
for name, group in c:
    if n == 2:
        break
    print(name)
    print(group.head(), "\n")
    n+=1

6 Pack Soft Drink
     order_id  quantity          item_name choice_description item_price
298       129         1  6 Pack Soft Drink           [Sprite]     $6.49
341       148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
357       154         1  6 Pack Soft Drink             [Coke]     $6.49
388       168         1  6 Pack Soft Drink        [Diet Coke]     $6.49
417       182         1  6 Pack Soft Drink        [Diet Coke]     $6.49

Barbacoa Bowl
     order_id  quantity      item_name  \
39         19         1  Barbacoa Bowl
58         27         1  Barbacoa Bowl
95         42         1  Barbacoa Bowl
115        51         1  Barbacoa Bowl
127        56         1  Barbacoa Bowl

                                    choice_description item_price
39   [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
58   [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $11.75
95   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
115  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...     $8.99
127  [Tomatillo Red Chili Salsa, [Rice, Pinto Beans...     $9.25

In [28]:
n = iter(c)

In [29]:
next(n)

('6 Pack Soft Drink',
       order_id  quantity          item_name choice_description item_price
 298        129         1  6 Pack Soft Drink           [Sprite]     $6.49
 341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 357        154         1  6 Pack Soft Drink             [Coke]     $6.49
 388        168         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 417        182         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 553        230         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 639        264         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 721        298         1  6 Pack Soft Drink           [Nestea]     $6.49
 743        306         1  6 Pack Soft Drink             [Coke]     $6.49
 879        363         1  6 Pack Soft Drink             [Coke]     $6.49
 1026       422         1  6 Pack Soft Drink           [Sprite]     $6.49
 1051       432         1  6 Pack Soft Drink             [Coke]     $6.49
 1124       465         1  6 Pack Soft Drink             [Coke]     $6.49
 1167       481         1  6 Pack Soft Drink             [Coke]     $6.49
 1260       511         1  6 Pack Soft Drink             [Coke]     $6.49
 1279       520         1  6 Pack Soft Drink           [Sprite]     $6.49
 1392       566         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 1755       708         1  6 Pack Soft Drink             [Coke]     $6.49
 1758       709         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
 1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 1916       774         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 1922       776         1  6 Pack Soft Drink             [Coke]     $6.49
 1937       784         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 1976       798         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 2108       849         1  6 Pack Soft Drink             [Coke]     $6.49
 2232       899         1  6 Pack Soft Drink             [Coke]     $6.49
 2374       945         1  6 Pack Soft Drink           [Sprite]     $6.49
 2389       949         1  6 Pack Soft Drink             [Coke]     $6.49
 2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49
 2793      1109         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 2860      1136         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3010      1196         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3132      1248         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3141      1253         1  6 Pack Soft Drink         [Lemonade]     $6.49
 3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
 3422      1373         1  6 Pack Soft Drink             [Coke]     $6.49
 3600      1443         1  6 Pack Soft Drink             [Coke]     $6.49
 3614      1448         1  6 Pack Soft Drink           [Nestea]     $6.49
 3633      1454         1  6 Pack Soft Drink             [Coke]     $6.49
 3693      1480         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3766      1508         1  6 Pack Soft Drink             [Coke]     $6.49
 3789      1517         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3806      1525         1  6 Pack Soft Drink           [Sprite]     $6.49
 3836      1537         1  6 Pack Soft Drink             [Coke]     $6.49
 3875      1554         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 3886      1558         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 4169      1664         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 4174      1666         1  6 Pack Soft Drink             [Coke]     $6.49
 4359      1741         1  6 Pack Soft Drink             [Coke]     $6.49
 4363      1742         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 4522      1798         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 4527      1800         1  6 Pack Soft Drink        [Diet Coke]     $6.49
 4535      1803         1  6 Pack Soft Drink         [Lemonade]     $6.49 )

In [30]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

#### Concise Pythonic way solution

In [31]:
chipo.groupby('item_name').agg({'quantity': 'sum'}).sort_values(['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### For the most-ordered item, how many items were ordered?

In [32]:
chipo.groupby('item_name').agg({'quantity': 'sum'}).sort_values(['quantity'], ascending=False).head(1).quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### What was the most ordered item in the choice_description column?

In [33]:
chipo.groupby('choice_description').agg(total_ordered=('quantity', 'sum')).sort_values(['total_ordered'], ascending=False).head(1)

                    total_ordered
choice_description
[Diet Coke]                   159

### How many items were orderd in total?

In [34]:
chipo.quantity.sum()

4972

### Convert the item price into a float

### Long and slow way: Writing a function to convert item price to float and then apply it over dataframe

#### Check the item price type

In [35]:
chipo.item_price.dtype

dtype('O')

In [36]:
# Check one of the elements from item_price column
chipo.iloc[0,-1]

'$2.39 '

In [37]:
# Check type of a single element
type(chipo.iloc[0,-1])

str

---
## iloc, loc and [ ] notation review:

With the <span style='color:red'>[ ]  notation </span>, items can be accessed by:
- rows: chipo[0:3] (slicing) or chipo[0] (only first row)
- columns: chipo['item_name'] or chipo.item_name
- list of columns: chipo[['item_name','item_price']]
- masking: chipo[chipo.quantity > 2]

In [38]:
# Ex:
chipo[['item_name', 'item_price']].head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

With <span style='color:red'> iloc </span>, elements are accessed **by position**:

In [39]:
chipo.iloc[ 0:5 , -1 ]  # Befores the comma is rows, after the comma is columns.

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [40]:
chipo.iloc[[0,1,2,4,3],-1] # Using a list. Elements will be retrieved in the order specified in the list.

0     $2.39
1     $3.39
2     $3.39
4    $16.98
3     $2.39
Name: item_price, dtype: object

With <span style='color:red'> loc </span>, elements are accessed **by index**:

In [41]:
chipo.loc[ : , 'item_name':'item_price'].head() # Slicing over columns, that's the difference with the [ ] operator.

,item_name,choice_description,item_price
0,Chips and Fresh Tomato Salsa,NaN,$2.39
1,Izze,[Clementine],$3.39
2,Nantucket Nectar,[Apple],$3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

---

#### Create a function to convert the item price into float

In [42]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)

#### Reset the converstion back to string to try lambda function conversion

In [43]:
# chipo = pd.read_csv("https://raw.githubusercontent.com/subashgandyer/datasets/main/chipotle.tsv", sep="\t")
# chipo

#### Create a lambda function and change the type of item price

In [44]:
# float_converter = lambda x: float(x[1:-1])
# chipo.item_price_float_lam = chipo.item_price.apply(float_converter)

#### Check the item price type

In [46]:
chipo.item_price.dtype

dtype('float64')

### How much was the revenue for the period in the dataset?

In [47]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
revenue

39237.02

### How many orders were made in the period?

In [48]:
chipo.order_id.nunique()

1834

### Another way

In [49]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [50]:
# Just to see what value_counts() returns
orders = chipo.order_id.value_counts().head()
orders

926     23
1483    14
205     12
759     11
1786    11
Name: order_id, dtype: int64

In [53]:
# Just to check the results from value_counts()
chipo[chipo.order_id == 926].shape[0]

23

### What is the average revenue amount per order?

We need first to get the revenue for each order_id, then we can get the average of those revenues.

In [54]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### How many different items are sold?

In [55]:
chipo.nunique()
# chipo.nunique().item_name

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
revenue                 79
dtype: int64

### Sort by item name

In [56]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,revenue
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### What is the quantity of the most expensive order?

In [45]:
chipo.sort_values(by = "item_price", ascending = False).head()

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,105.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,140.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,140.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,101.25

In [46]:
chipo[ chipo.order_id == 1443]

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75
3599,1443,7,Bottled Water,NaN,10.50,73.50
3600,1443,1,6 Pack Soft Drink,[Coke],6.49,6.49
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,101.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,140.00
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75,83.25
3604,1443,2,Bottled Water,NaN,3.00,6.00

In [58]:
chipo.groupby('order_id').agg({'quantity': sum , 'revenue': sum}).sort_values(by='revenue', ascending=False).head() # head(1)

          quantity  revenue
order_id
1443            35  1074.24
511             17   315.29
1559            16   246.00
1660            19   222.75
926             23   205.25

### How many times a Veggie Salad Bowl was ordered?

In [145]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

### How many times more than one canned soda was ordered?

In [60]:
chipo[chipo.item_name == "Canned Soda"]

      order_id  quantity    item_name choice_description  item_price  revenue
18           9         2  Canned Soda           [Sprite]        2.18     4.36
28          14         1  Canned Soda       [Dr. Pepper]        1.09     1.09
51          23         2  Canned Soda     [Mountain Dew]        2.18     4.36
53          24         1  Canned Soda           [Sprite]        1.09     1.09
107         47         1  Canned Soda       [Dr. Pepper]        1.09     1.09
...        ...       ...          ...                ...         ...      ...
3897      1562         1  Canned Soda     [Mountain Dew]        1.09     1.09
3926      1575         1  Canned Soda       [Dr. Pepper]        1.09     1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]        1.09     1.09
4008      1604         1  Canned Soda        [Diet Coke]        1.09     1.09
4051      1621         1  Canned Soda           [Sprite]        1.09     1.09

[104 rows x 6 columns]

In [64]:
more_than_one_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
more_than_one_soda.head()

     order_id  quantity    item_name choice_description  item_price  revenue
18          9         2  Canned Soda           [Sprite]        2.18     4.36
51         23         2  Canned Soda     [Mountain Dew]        2.18     4.36
162        73         2  Canned Soda        [Diet Coke]        2.18     4.36
171        76         2  Canned Soda  [Diet Dr. Pepper]        2.18     4.36
350       150         2  Canned Soda        [Diet Coke]        2.18     4.36

In [65]:
len(more_than_one_soda)

20